* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Inter", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

.site-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}

header .site-logo {
  color: red;
  margin-right: auto;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 15px;
}

a.active-link {
  font-weight: bold;
  text-decoration: none;
  color: red;
}

header a {
  text-decoration: none;
  color: red;
  font-weight: 600;
  padding: 5px 20px;
}

footer {
  background-color: black;
  color: red;
  height: 75px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  font-weight: 500;
}

.series-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
}

.series-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.series-item h2, .series-item h4 {
  font-size: 1.2em;
  margin: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}


